<template name="agendaItem">
  <div class="agenda-item">
    Action item: {{actionItem}}, description: {{description}}
    {{#if actionItem}}
      {{> actionItem}}
    {{else}}
      {{> discussionItem}}
    {{/if}}
  </div>
</template>

<template name="actionItem">
  {{#each motions}}
    {{> motion}}
  {{/each}}
</template>

<template name="discussionItem">

</template>

<template name="addAgendaItem">
  <form>
    <label><input type="checkbox" class="action-item"> Action item</label>
    <label>Description<textarea class="description"></textarea></label>
    <button type="submit">Add</button>
  </form>
</template>
