<template name="meeting">
  <div class="container">
    <div class="row">
      <div class="span12 meeting">
        <h4 class="name">{{name}}</h4>
        {{#each agendaItems}}
          {{> agendaItem}}
        {{/each}}
      </div>
      <div class="row">
        <div class="span12 meeting">
          {{> addAgendaItem}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="addMeeting">
  <form>
    <label>Name: <input type="text" class="name" /></label>
    <button type="submit">Add</button>
  </form>
</template>
